main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}

#chart-container {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
    border: var(--thickness) solid var(--primary);
    background-color: rgba(255, 255, 255, 0.1);
}

#submit-btn {
    margin-bottom: 0;
}

form > .flex {
    display: flex;
    gap: 10px;
    align-items: center;
}