main {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    gap: 20px;
    width: 100%;
    height: 100vh;
}
main > div:first-child {
    /* flex: 1; */
    height: 100%;
}
main > div:first-child > form {
    /* flex: 1; */
    height: 100%;
}

#chart-container {
    width: 100%;
    max-height: 50vh;
    height: 100%;
    /* flex: 1; */
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
    border: var(--thickness) solid var(--primary);
    background-color: var(--accent);
}
#chart-container canvas {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

#submit-btn {
    margin-bottom: 0;
}

form>.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}
form > .flex > * {
    margin-top: 0;
}
form > .flex > label {
    min-width: 50px;
}


.multiselect {
    position: relative;
    width: 200px;
}

.selectBox {
    padding: 8px;
    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    background: transparent;    
    cursor: pointer;
    user-select: none;
}

.checkboxes {
    display: none;
    border: var(--thickness) solid var(--primary);
    position: absolute;
    background: var(--background);
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
}

.checkboxes .box {
    display: flex;
    padding: 6px 8px;
    cursor: pointer;
}
.checkboxes .box > span {
    flex: 1;
}
.checkboxes .box > input {
    flex: 0.5;
    padding: 0px !important;
}
.checkboxes .box:hover {
    background: #222;
}