:root {
    /* CSS Variables */
    --background: #111111;
    --text: #fff;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 8px;

    /* --primary: #c6ffc6; */
    --primary: #b96868;
    --secondary: #c7b8ea;

    --thickness: 2px;
    --glow: rgba(126, 126, 126, 0.3);
}

* {
    color: var(--text);
    font-family: var(--font);    
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    /* min-height: 100vh; */
    /* width: 100vw;
    max-width: 100vw; */
    margin: 0;
    overflow-x: hidden;
}
main {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5vh 5vh;
    position: relative;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

main::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle at center, var(--glow), transparent 70%);
    z-index: -1;
}


/* tools */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fill {
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.verticle {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}

/* elements */

button {
    transition: all ease-out 0.3s;
    background-color: var(--background);
    color: var(--text);
    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    width: fit-content;
    margin-top: 20px;
}

button:hover {
    background-color: var(--primary);
    color: var(--background);
}

input {
    transition: all ease-out 0.3s;
    background-color: var(--background);
    color: var(--text);
    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 100%;
    font-size: 1em;
    outline: none;
}
input:focus {
   box-shadow: 0px 0px 40px var(--glow); 
}
select {
    transition: all ease-out 0.3s;
    background-color: var(--background);
    color: var(--text);
    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 100%;
    font-size: 1em;
    -webkit-appearance: none; /* For Webkit browsers like Chrome and Safari */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;   
    outline: none;
}
select:focus {
   box-shadow: 0px 0px 40px var(--glow); 
}



form {
    display: block;
    padding: 3% 3%;
    gap: 20px;

    /* margin-left: 10%;
    margin-right: 10%; */

    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    background-color: var(--background);
}
form > * {
    display: block;
    margin-bottom: 15px;
}

/* components */

.sidebar {
    width: 200px;
    /* display:none; */
    height: 100%;
    border-right: var(--thickness) solid var(--primary);
    padding: 10px;
    font-size: 15px;
    background-color: var(--background);
    box-shadow: 4px 0 30px var(--glow);
}
.sidebar > .title {
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
    text-align: center;

    border-bottom: var(--thickness) solid var(--primary);
}
.sidebar > .itemlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}
.sidebar > .itemlist > .item {
    cursor: pointer;
    padding: 15px 10px;
    border-radius: var(--border-radius);
    /* border: var(--thickness) solid var(--primary); */
    transition: all ease-out 0.2s;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
}
.sidebar > .itemlist > .item:hover {
    background-color: var(--primary);
    color: var(--background);
}