main {
    display: flex;
    /* box-sizing: border-box; */
    gap: 20px;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.left-section, .section {
    min-width: 0;
}

.left-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}
.left-section > div {
    /* height: 100vh; */
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    gap: 20px;
    border: var(--thickness) solid var(--primary);
    border-radius: var(--border-radius);
    padding: 20px;
    background-color: var(--accent);
}

@media screen and (orientation: portrait) {

    body {
        overflow-y: scroll !important;
    }

    main {
        height: unset;
        min-height: 100vh;
        flex-direction: column;
        overflow-y: scroll !important;
    }

    .section {
        height: 100%;
    }
}


.item {
    opacity: 0.8;
    font-size: 0.9em;
    margin-bottom: 1em;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.collapsible-header {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5em;
    user-select: none;
}

.collapsible-content.collapsed {
    display: none;
}
